{{- /* ft: yaml */ -}}

{{- $os := .chezmoi.os -}}
{{- $arch := .chezmoi.arch -}}
{{- $x64 := eq $arch "amd64" -}}
{{- /* Almost every project classifies 64-bit binaries as x64 */ -}}
{{- if $x64 }}{{ $arch = "x64" }}{{ end -}}
{{- /* fnm uses "macos" where chezmoi uses "darwin" */ -}}
{{- $fnmos := ternary "macos" $os (eq $os "darwin") -}}

'.config/nvim':
  type: 'git-repo'
  url: 'https://github.com/lu-papagni/nvim-config.git'
  refreshPeriod: '24h'
  '.config/nvim':
    clone:
      args: ['--branch=experimental']

'.docker/cli-plugins/docker-compose':
  type: 'file'
  url: {{ gitHubLatestReleaseAssetURL "docker/compose" (printf "docker-compose-%s-%s" $os (ternary "x86_64" $arch $x64)) | quote }}
  executable: true
  refreshPeriod: '720h'

'.local/bin/lazygit':
  type: 'archive-file'
  url: {{ gitHubLatestReleaseAssetURL "jesseduffield/lazygit" (printf "lazygit_*_%s_%s.tar.gz" $os (ternary "x86_64" $arch $x64)) | quote }}
  executable: true
  path: 'lazygit'
  refreshPeriod: '168h'

'.local/share/nvim/tree-sitter':
  type: 'file'
  url: {{ gitHubLatestReleaseAssetURL "tree-sitter/tree-sitter" (printf "tree-sitter-%s-%s.gz" $os $arch) | quote }}
  executable: true
  filter:
    command: 'gunzip'
    args: ['-c']
  refreshPeriod: '168h'

{{ if eq $os "linux" -}}

'.local/bin/git-credential-oauth':
  type: 'archive-file'
  url: {{ gitHubLatestReleaseAssetURL "hickford/git-credential-oauth" (printf "git-credential-oauth_*_%s_%s.tar.gz" $os (ternary "amd64" $arch $x64)) | quote }}
  executable: true
  path: 'git-credential-oauth'
  refreshPeriod: '360h'

{{- end }}

{{ if ne $os "windows" -}}

'.local/bin/fnm':
  type: 'archive-file'
  url: {{ gitHubLatestReleaseAssetURL "Schniz/fnm" (printf "fnm-%s.zip" $fnmos) | quote }}
  executable: true
  path: 'fnm'
  refreshPeriod: '168h'

'.bun/bin/bun':
  type: 'archive-file'
  url: {{ gitHubLatestReleaseAssetURL "oven-sh/bun" (printf "bun-%s-%s.zip" $os $arch) }}
  path: 'bun'
  executable: true
  stripComponents: 1

{{- end }}
