{{- /* ft: yaml */ -}}

{{- $is_wsl := false }}
{{- if eq .chezmoi.os "linux" }}
{{- $is_wsl = (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
{{- end -}}

data:
  wslDistro: {{ $is_wsl }}
