{{- /* ft: yaml */ -}}

{{- $linux := (eq .chezmoi.os "linux") -}}
{{- $wsl := and $linux (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{- $tty := and $linux (not (env "DISPLAY"))  -}}

{{- $chassis := "unknown" -}}
{{- if eq .chezmoi.os "darwin" -}}
  {{- if contains "MacBook" (output "system_profiler" "SPHardwareDataType") -}}
    {{- $chassis = "laptop" -}}
  {{- else -}}
    {{- $chassis = "desktop" -}}
  {{- end -}}
{{- else if and $linux (not $wsl) -}}
  {{- $chassis = (output "hostnamectl" "--json=short" | mustFromJson).Chassis -}}
{{- else if eq .chezmoi.os "windows" -}}
  {{- $chassis = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "if ((Get-CimInstance -Class Win32_Battery | Measure-Object).Count -gt 0) { Write-Output 'laptop' } else { Write-Output 'desktop' }") | trim -}}
{{- end -}}

github:
  refreshPeriod: '24h'

{{ $koofrPassword := promptString "Enter Koofr password" -}}

cd:
  command: "pwsh"
  args: ["-NoLogo"]

data:
  email: 'papagniluca4@gmail.com'
  wslDistro: {{ $wsl }}
  headless: {{ or $tty $wsl }}
  rcloneSecret:
    koofr: {{ $koofrPassword | quote }}
  chassisType: {{ $chassis }}
