{{- /* ft: gitignore */ -}}

README.md
{{ if not (eq .chezmoi.os "windows") -}}
{{- /* Linux, MacOS */ -}}
.chezmoiscripts/windows
.wslconfig
Documents/
AppData/

{{- if not .wslDistro }}
.local/bin/wsl-browser
.chezmoiscripts/wsl.sh
{{ end -}}

{{- else }}
{{- /* Only Windows */ -}}
*
!.chezmoiscripts/windows
!Documents/
!AppData/
!.wslconfig
{{ end }}
