Register-PSRepository -Default -ErrorAction SilentlyContinue
Install-Module -Name Microsoft.WinGet.Client -Scope CurrentUser

$packages = @( {{ .packages.windows | quoteList | join ", " }} )

if (-not (Assert-WinGetPackageManager)) {
  Repair-WinGetPackageManager -Latest
}

Get-WinGetPackage | Where-Object IsUpdateAvailable | Update-WinGetPackage -Mode Silent

$installed = Get-WinGetPackage | Select-Object -ExpandProperty Id
$packages | Where-Object { $_ -notin $installed } | ForEach-Object {
  Install-WinGetPackage -Id $_ -MatchOption Equals -Mode Silent
}
