Register-PSRepository -Default
Install-Module -Name Microsoft.WinGet.Client -Scope CurrentUser

$packages = @( {{ .packages.windows | quoteList | join ", " }} )

if (-not (Assert-WinGetPackageManager)) {
  Repair-WinGetPackageManager -Latest
}

Get-WinGetPackage | Where-Object IsUpdateAvailable | Update-WinGetPackage -Mode Silent

foreach ($pkg in $packages) {
  Install-WinGetPackage -Id $pkg -Mode Silent -Scope SystemOrUnknown
}
