{{- /* ft: bash */ -}}

#!/bin/sh

{{ $parser_dir := ".local/share/nvim/site/parser" -}}
{{- $home := .chezmoi.homeDir -}}

build() {
  target="$1"
  out_parser="$2"

  cd "$target"
  echo "Generating $out_parser..."
  bun x tree-sitter-cli generate 2> /dev/null
  echo "Compiling $out_parser..."
  bun x tree-sitter-cli build --output "{{ joinPath $home $parser_dir }}/$out_parser.so" 2> /dev/null
}

export PATH="$HOME/.bun/bin:$PATH"
command -v bun &> /dev/null || exit 1
cd "$(mktemp -d)"

{{- range $repo, $cfg := .treesitter -}}
  {{- $branch := "" -}}
  {{- if hasKey $cfg "branch" -}}
    {{- $branch = (get $cfg "branch") -}}
  {{- end -}}
  {{- $parsers := $cfg.build -}}

  {{- if len $parsers -}}
    {{- $to_install := $parsers -}}
    {{- range $target, $name := $parsers -}}
      {{- $installed := printf "%s.*" (joinPath $parser_dir $name) | glob -}}
      {{ if $installed -}}
        {{- $_ := unset $to_install $target -}}
      {{- end }}
    {{- end -}}
    {{- $clonedRepo := splitList "/" $repo | last -}}

    {{- if len $to_install }}
      {{- if $branch }}
    echo "Cloning parser at {{ $repo }} ({{ $branch }})..."
    git clone --depth 1 --single-branch --branch '{{ $branch }}' 'https://github.com/{{ $repo }}.git' && { \
      {{- else }}
    echo "Cloning parser at {{ $repo }}..."
    git clone --depth 1 'https://github.com/{{ $repo }}.git' && { \
      {{- end }}
        {{ range $target, $name := $to_install -}}
          build "{{ $clonedRepo }}/{{ $target }}" "{{ $name }}" &
        {{ end }}
      }
    {{- end }}
  {{- end }}
{{- end }}

wait
