#!/bin/sh

echo "Configuring WSL settings. Restart WSL for changes to take effect."

sudo tee /etc/wsl.conf <<EOF
{{- .wsl.config | toIni }}
EOF

sudo tee /etc/fstab <<EOF
{{ range .wsl.fstab -}}
{{ $mntops := .mntops | join "," }}
{{- list .spec .file .vfstype $mntops .freq .passno | join "\t" }}
{{ end }}
EOF
