{{- /* ft: sh */ -}}
#!/bin/sh

echo "bun: found {{ len .packages.npm }} npm packages to install."

if [ -x ~/.bun/bin/bun ]; then
  {{ range .packages.npm -}}
  ~/.bun/bin/bun add -g {{ .name | quote }}{{ if hasKey . "args" }} {{ .args }}{{ end }}
  {{ end }}
else
  echo "Skipping installation: bun not found."
fi
